body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #710077ff;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 50px 10%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.imagem-extra {
  margin-top: 15px;
  width: 250px;
}
